.course-content{
    body {
        margin: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-repeat: no-repeat;
        background-size: cover;
        margin:0;
      }

    table{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        left:30%;
        text-align: left;
        border-collapse: collapse;
        width: 70%;
    }

    tr {
        height:30px;
    }

    tr:nth-child(even) {
        background-color: #747474;
        border-color: #747474;
        color:#fff;
        height:30px;
    }
}